<!-- need to change the title -->
<title>Agrochain 2.0 | KrishiBhavan Details</title>

<!-- Required meta tags -->
<meta charset="utf-8" />
<meta
  name="viewport"
  content="width=device-width, initial-scale=1, shrink-to-fit=no"
/>

<!-- Bootstrap CSS -->
<link
  rel="stylesheet"
  href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
  crossorigin="anonymous"
/>

<link
  href="https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css"
  rel="stylesheet"
/>

<style>
  body {
    background-color: #eeeeee;
    vertical-align: middle;
  }

  #form-layout {
    border-radius: 0%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .modal-header,
  h4,
  .close {
    background-color: #87d887;
    color: black !important;
    text-align: center;
    font-size: 30px;
  }
  .modal-footer {
    background-color: #f9f9f9;
  }
</style>
