<!DOCTYPE html>
<html lang="en">
  <head>
    
  </head>

  <body>
    <!-- Navbar Begins -->
    
    <!-- Navbar Ends -->

    <!-- Form Begins -->
    <form name="loginForm" method="post" action="login()">
      <table width="20%" bgcolor="0099CC" align="center">
      
      <tr>
      <td colspan=2><center><font size=4><b>HTML Login Page</b></font></center></td>
      </tr>
      
      <tr>
      <td>Amount</td>
      <td><input type="text" size=25 name="Amount" id="amt"></td>
      </tr>
      
      <tr>
      <td>Branch Code</td>
      <td><input type="text" size=25 name="pwd" id="pwd"></td>
      </tr>
      
      <tr>
      <td ><input type="Reset"></td>
      <td><input type="submit" onclick="login()" value="Login()"></td>
      </tr>
      
      </table>
      </form>

    
  </body>
</html>
